DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=ressourcemedicale
DB_USER=rubain
DB_PASSWORD=medor@237
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=60

# Optional: set Redis in production for shared cache across instances
# REDIS_URL=redis://127.0.0.1:6379/1

# Optional on Windows if not auto-detected
# GDAL_LIBRARY_PATH=C:/Program Files/GDAL/gdal.dll
# GEOS_LIBRARY_PATH=C:/Program Files/GDAL/geos_c.dll
