@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2563eb;
  --color-danger: #ef4444;
  --color-oxygen: #06b6d4;
  --color-success: #22c55e;
  --color-background: #f4f7fa;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  background-color: var(--color-background);
}
